<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">Novo Autor</div>
        <div class="card-body">
            <form method="POST" action="/autores/salvar">
                <div class="form-floating mb-3">
                    <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome do autor" required>
                    <label for="nome">Nome do Autor</label>
                </div>
                <div>
                    <label for="nascimento">Dia de Nascimento</label>
                    <input type="date" name="nascimento" class="form-control" id="nascimento" placeholder="Dia do nascimento" required>
                </div>
                <div>
                    <label for="morte">Dia da Morte</label>
                    <input type="date" name="morte" class="form-control" id="morte" placeholder="Dia da morte" >
                </div>
                <br>
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/autores" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>